<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <p>Dashboard</p>
    <strong>ID: {{id}}</strong>
    <form method='post'>
      <input name='title' type='text'><br>
      <textarea name='body'></textarea><br>
      <input name='tags' type='text'>
      <input type='submit'>
    </form>
  </body>
</html>
